<div class="d-flex justify-content-around align-items-center pt-5" *ngIf="level else loading">
    <div class="flip">
        <div class="inside">
            <figure class="front">
                <pre>{{ level.order | json }}</pre>
            </figure>
            <figure class="back">
                <pre>{{ level.receipt | json }}</pre>
            </figure>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="text-center pt-5">
        <div class="spinner-grow text-success mt-5" style="height: 300px; width: 300px;"></div>
    </div>
</ng-template>
