<div class="d-flex justify-content-center pt-3" *ngIf="level else loading">
    <div class="flip m-5">
        <div class="inside">
            <figure class="front">
                <div class="card bg-light" style="height: 100%">
                    <div class="card-body">
                        <h4 class="card-title py-3">Order</h4>
                        <div class="list-group">
                            <button class="list-group-item list-group-item-action" *ngFor="let transaction of level.order">{{ transaction }}</button>
                        </div>
                    </div>
                </div>
            </figure>
            <figure class="back">
                <div class="card bg-secondary text-info" style="height: 100%">
                    <div class="card-body">
                        <h4 class="card-title py-3">Rules</h4>
                        <p>unknown...</p>
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <div class="flip m-5">
        <div class="card bg-light" style="height: 100%">
            <div class="card-body">
                <h4 class="card-title py-3">Receipt</h4>
                <div class="list-group">
                    <button
                        class="list-group-item list-group-item-action"
                        *ngFor="let transaction of level.receipt; index as i"
                        [ngClass]="{ 'list-group-item-secondary text-info': answers.includes(i) }"
                        (click)="addAnswer(i)"
                    >
                        {{ transaction || '---' }}<!-- TODO remove me -->
                        <span class="badge bg-primary rounded-pill position-absolute end-0 mx-2">{{ i }}</span>
                    </button>
                </div>
                <button class="btn btn-outline-info position-absolute bottom-0 end-0 m-3" (click)="submit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngStyle]="{ 'display': display }">
    <div class="modal-dialog" style="width: 160px;">
        <div class="modal-content">
            <div class="modal-header">{{ accuracy }}% Accuracy</div>
            <div class="modal-body">
                <div class="list-group">
                    <button
                        class="list-group-item list-group-item-action text-info"
                        *ngFor="let solution of solutions"
                        [ngClass]="answers.includes(solution[0]) ? 'list-group-item-success' : 'list-group-item-danger'"
                    >
                        {{ solution[1] }}
                        <span class="badge bg-primary rounded-pill position-absolute end-0 mx-2">{{ solution[0] }}</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger" (click)="ok()">OK</button>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="text-center pt-5">
        <div class="spinner-grow text-success mt-5" style="height: 300px; width: 300px;"></div>
    </div>
</ng-template>
